VITE_API_URL=/api
VITE_API_KEY=CHANGE_ME_TENANT_API_KEY_FOR_LOCAL_DEV
VITE_APP_VERSION=dev
VITE_ENV=development
VITE_DISCOVERY_WHEEL_SENSITIVITY=0.3
VITE_DISCOVERY_MIN_ZOOM=0.05
VITE_DISCOVERY_MAX_ZOOM=2.4
