node_modules
**/node_modules
dist
**/dist
build
**/build
coverage
**/coverage

.git
.github
.cursor
.buildx-cache
.stronghold
.aws
**/.aws

.env
.env.*
!.env.example

docs

.idea
.vscode
*.log
*.tmp
*.swp
*.tar
*.tar.gz
stronghold-images-*.tar

**/*.map
**/*.tsbuildinfo
