# Node
node_modules/
dist/
build/

# Env / secrets
.env
.env.*
!.env.example
.env.local
.env.production

# Prisma
prisma/dev.db
prisma/*.db
prisma/*.sqlite

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Docker build cache
.buildx-cache/
